[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
beautifulsoup4 = "*"
requests = "*"
markdown = "*"
pygments = "*"
simplejson = "*"
py-markdown-table = "*"
pymdown-extensions = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
